*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #353535;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #eeeeee;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  padding: 80px 80px;
}

.block-form__title {
  font-size: 40px;
  margin-bottom: 20px;
  color: whitesmoke;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-bottom: 35px;
}

.checkbox {
  font-size: 16px;
  line-height: 20px;
  padding: 0px 0px 0px 70px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #888888;
  display: inline-block;
}

.block-form__input {
  margin: 0px 0px 25px 0px;
}

.block-form__input:nth-child(3) {
  margin: 0px 0px 35px 0px;
}

.radiobuttons div {
  margin: 0px 0px 20px 0px;
}

.checkbox::before {
  content: "";
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background-color: #e4e2e1;
  position: absolute;
  left: 0;
  top: 0;
}

.checkbox::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #b6e9dd;
  position: absolute;
  left: 0;
  top: -5px;
  -webkit-box-shadow: 0 0 3px #16be9a;
          box-shadow: 0 0 3px #16be9a;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.checkbox input {
  display: none;
}

.checkbox.active {
  color: white;
}

.checkbox.active::before {
  background-color: white;
}

.checkbox.active::after {
  background-color: #16be9a;
  left: 25px;
  border: solid #14dfb3 1px;
  -webkit-box-shadow: inset 0 0 2px #16be9a;
          box-shadow: inset 0 0 2px #16be9a;
}

.radiobuttons {
  display: inline-block;
}

.radiobuttons__item {
  position: relative;
  padding: 0px 0px 0px 50px;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  font-size: 16px;
  color: #888888;
  margin-bottom: 20px;
  cursor: pointer;
}

.radiobuttons__item.active {
  color: white;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.radiobuttons__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: #e4e2e1;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.radiobuttons__item input {
  display: none;
}

.radiobuttons__item::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: #16be9a;
  border: solid #14dfb3 1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.radiobuttons__item.active::after {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
}

.button {
  line-height: 50px;
  display: inline-block;
  cursor: pointer;
  letter-spacing: 8px;
  font-size: 18px;
  padding: 0 30px;
  border-radius: 15px;
  position: relative;
  -webkit-transition: all 0.2s ease 0s;
  transition: all 0.2s ease 0s;
  overflow: hidden;
  background: #fcb045;
  -webkit-box-shadow: 0px 0px 10px rgba(252, 176, 69, 0.623);
          box-shadow: 0px 0px 10px rgba(252, 176, 69, 0.623);
  color: aliceblue;
}

.button span {
  position: relative;
  z-index: 2;
}

.button:hover {
  background: #fc6a45;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  -webkit-box-shadow: 0px 0px 10px #fc6a45;
          box-shadow: 0px 0px 10px #fc6a45;
}

.button:active {
  -webkit-transform: translate(0px, 2px);
          transform: translate(0px, 2px);
  background: #fa5b46;
  -webkit-transition: all 0.1s ease 0s;
  transition: all 0.1s ease 0s;
  color: wheat;
  -webkit-box-shadow: inset 0px 0px 20px rgba(116, 26, 14, 0.801);
          box-shadow: inset 0px 0px 20px rgba(116, 26, 14, 0.801);
}
